footer {
    color: var(--text);
    background-color: lightgray;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p {
    margin: 0;
  }
  
  a {
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  a:hover {
    text-shadow: -2px -2px var(--secondary);
  }